#container{
    margin-top: 70px;
    background-image:url("../../Images/paper.jpg");
    background-color:black;
    border-radius: 10px;
    box-shadow: 2px 2px 8px black;
    height: 90%;
    width: 50%;
    padding: 30px
}

@media screen and (max-width:900px) {
    #container{
        width:80%;
    }
}